
<meta charset="UTF-8">
<title>K-Inel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/public/css/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="/public/css/sidebar.css">
<link rel="stylesheet" href="/public/css/main.css">
  
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/parsley.js"></script>
<script src="/public/javascripts/botbox.js"></script>
<script src="/public/javascripts/jquery-ui-timepicker-addon.js"></script>
<script src="/public/javascripts/main.js"></script>