<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button id="sidebar-close" class="w3-bar-item w3-button w3-large">Zatvori &times;</button>
    <a href="/projects" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-list-alt"></i>Projekti</a>
    <a href="/employees" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-user"></i>Radnici</a>
    <a href="/items" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-barcode"></i>Artikli</a>
</div>