<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <% include ./partials/sidebar %>
    <div id="main">
    
        <div class="w3-teal">
            <% include ./partials/header %>
        
        </div>
    
    </div>

</body>

</html>